.App {
  height: 100%;
}

header {
  background-color: #DDDDDD;
  padding: 20px;
  height: 25%;
}

main {
  display: flex;
  flex-direction: row;
  height: 75%;
  padding: 15px;
}

.main__form {
  flex: 5;
  padding: 4px;
}

.main__summary {
  flex: 2;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
  margin: 2px;
  padding: 2px;
}

.summary__option {
  font-size: 0.9em;
  display: grid;
  grid-template-areas: "key cost"
                       "value value";
  margin-top: 10px;
  box-shadow: 0 -1px 0 0 rgba(0,0,0,0.2);
}

.summary__option__label {
  font-weight: bold;
  grid-area: key
}

.summary__option__value {
  grid-area: value;
  color: lightblue;
}

.summary__option__cost {
  grid-area: cost;
  text-align: right;
}


.summary__total {
  font-size: 1.2em;
  display: flex;
  margin-top: 15px;
  border-top: solid 1px rgba(0,0,0,0.3);
  padding: 3px;
}

.summary__total__label {
  font-weight: bold;
  flex: 2;
}

.summary__total__value {
  flex: 1;
  color: red;
}

.feature__list {
  list-style: none;
}

.feature__option:not(.feature__selected) {
  cursor: pointer;
}

.feature__option:not(.feature__selected):hover {
  text-shadow: 1px 1px 2px blue;
}

.feature__option {
  margin-top: 4px;
  padding: 2px;
}

.feature__selected {
  background: #DEDEDE;
}


